h2 {
    	font-variant: small-caps;
	text-align: center
}

p:not([style="color:red"]) {
    	text-indent: 0.2cm;
	text-align: justify;
    	text-justify: inter-word
}

img {
    margin: 10px 10px 10px 10px
}

td[rend="table-cell-align-right"] {
	text-align: right
}

