.Joubert a {
    text-decoration:none;
}

.Joubert a:hover {
    text-decoration:underline;
}


.Joubert div {
    font-family:Liberation,Times,serif;
    line-height:1.4;
}

.Joubert h1, .Joubert h2, .Joubert h3 {
    text-align:center;
} 

.Joubert p {
    	text-indent: 0cm;
    	margin-left:10%;
      position:relative;
  }


.Joubert .corr {
  color:blue;
}

.Joubert .ex {
  font-style:italic;
}


.Joubert .editionpage {
    display:block;
    text-align:center;
    color:gray;
}
.Joubert .editionpageverse {
    position:relative;
    left:-5%;
    color:gray;
    display:block;
    text-align:center;
}

.Joubert .footnote {
    position:relative;
    display:block;
    font-size:75%;
}

.Joubert .footnoteref {
  position:absolute;
  left:-30px
}

.Joubert .footnoteref-variant {
  font-weight:bold;
}


.Joubert .footnotes {
  display:block;
  border-top-style:solid;
  border-top-width:1px;
  border-top-color:gray;
  padding-top:5px;
  white-space:normal;
}


.Joubert .foreign {
    font-style:italic
}

.Joubert .gap {
    color:darkblue;
    font-size:80%;
}

.Joubert.glossaire {
    color:#cc6600;
}

.Joubert .head {
   color:#4B0082; /*indigo*/
   font-weight:bold;
}

.Joubert .hi-c-ital, .Joubert .hi-italic {
  font-style:italic;
  font-variant:normal;
}

.Joubert .hi-c-maj {
    text-transform:uppercase;
    font-variant:normal;
}

.Joubert .lettrine {
    width:30px;
    height:30px;
    float:left;
    font-weight:bold;
    font-size:25px
}

.Joubert .lexmed {
    color:#cc6699;
}

.Joubert .noteinline {
     color:gray;
     font-size:90%;
     font-style:italic;
     font-family:Times, serif;
     white-space:normal;
 }

.Joubert .note-margin, .Joubert .note-margin-right {
  float:right;
  width:45pt;
  font-size:75%;
  font-style:italic;
  white-space:normal;
}

.Joubert .note-margin-left {
  display:inline-block;
  position:absolute;
  left:-50pt;
  width:45pt;
  font-size:75%;
  font-style:italic;
  white-space:normal;
}

.Joubert .noteref {
  font-size:75%;
  position:relative;
  top:-5px
}

.Joubert .p {
    white-space:nowrap;
}

.Joubert .pagenumber {
    color:green;
    font-size:80%
}

.Joubert .persName {
  text-decoration:none;
}

.Joubert .persName:hover {
  text-decoration:underline;
}

.Joubert .q {
  display: inline;
  color:inherit;
  background-color:#d9ffb3;
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
}

.Joubert .q  .q {
  display: inline;
  color:inherit;
  background-color:#bfff80;
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
}

.Joubert .q  .q  .q {
  display: inline;
  color:inherit;
  background-color:#80ff00;
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
}


.Joubert .quote {
  display: inline;
  color:inherit;
  background-color:#E0F8F7;
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
}

.Joubert .quote  .quote {
  display: inline;
  color:inherit;
  background-color:#A9E2F3;
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
}

.Joubert .quote  .quote  .quote {
  display: inline;
  color:inherit;
  background-color:#58ACFA;
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
}

.Joubert .quotemark {
	position:absolute;
	left:-15pt;
	padding-top:2pt;
	width:10pt;
	font-size:80%;
	text-align:right;
	color:gray;
}
.Joubert .quotemark-right {
	position:absolute;
	left:200pt;
    width:5pt;
	padding-top:2pt;
	width:10pt;
	font-size:80%;
	text-align:right;
	color:gray;
}

.Joubert .sic {
  color:red;
}


.Joubert .sp > p, .sp > .l {
    display:block;
    margin-left:20px;
}

.Joubert .speaker {
    display:block;
    font-weight:bold;
    color:gray;
}

.Joubert .supplied {
    color:blue;
}

.Joubert .supplied:before {
    content:"["
}

.Joubert .supplied:after {
    content:"]"
}

.Joubert .surplus {
    color:red;
}

.Joubert .surplus:before {
    content:"("
}

.Joubert .surplus:after {
    content:")"
}

.Joubert .txmeditionpage {
  position: relative;
	background-color: #f8f7ee;
	font-family: junicode, verdana;
	font-size: 14px;
	text-indent:0em;
	text-align: justify;
	box-shadow: .3125em .3125em .625em 0 #888;
	margin: 1em auto;
	/*margin-left:80px;
	margin-right:70px;
	margin-top:auto;
	margin-bottom:auto;*/
	/*padding: 1.25em;*/
	padding-left:60pt;
	padding-right:50pt;
	padding-top:1.25em;
	padding-bottom:1.25em;
	min-width: 300px;
	min-height: 90%;
	width:auto;
	/*max-width:600px;*/
}

.Joubert .variant-source {
  font-style:italic;
}

.Joubert .verseline {
	position:relative;

}
.Joubert .verselinenumber {
	position:absolute;
	left:-70pt;
	padding-top:2pt;
	width:10pt;
	font-size:80%;
	text-align:right;
	color:gray;
}

